.logoHome{
    max-width: 219px;
    max-height: 92px;
}

.azulSolicitaNvar{
    background-color: #00aeff;
    color: #ffffff;
    border: none;
    height : 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* Esto añadirá una sombra suave al texto */
}

a {
    color: #3c4858;
}

.enlaceNavbar{
    margin-top: 8%;
}